@import "./mixins";
@import "./variables";

.header-wrapper {
  padding: 1em 0;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 95%;
  @media only screen and (min-width: 1005px) {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.main-menu {
  @media only screen and (min-width: 1005px) {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    width: auto;
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.main-menu-item a {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: $primary;
  display: block;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.5em;
  &:hover {
    color: $secondary;
    font-weight: normal;
  }
}

a.menu-active {
  color: $secondary;
}

.home-main {
  @include fontSize(22px);
  align-self: center;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: $primary;
  font-family: "Rock Salt", cursive;
  font-weight: normal;
  margin-left: 0.5em;
  text-decoration: none;
  @media only screen and (min-width: 1005px) {
    margin-left: 0;
  }
}

.dark-switcher {
  @include fontSize(13px);
  background: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
  @media only screen and (min-width: 380px) {
    margin-left: 20px;
    margin-top: 0;
  }
  @media only screen and (min-width: 1005px) {
    height: 50px;
    margin-left: 0;
  }
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
  &:focus {
    border-bottom: 5px solid $secondary;
  }
}

// Dark theme overrides
.dark {
  .dark-switcher {
    color: white;
    &:hover {
      color: $dark_secondary;
    }
    &:focus {
      border-bottom: 5px solid $dark_secondary;
    }
  }
  .home-main {
    color: $dark_primary;
  }
  .main-menu-item a {
    color: $dark_primary;
    &:hover {
      color: $dark_secondary;
    }
  }
  a.menu-active {
    color: $dark_secondary;
  }
}
