@import "./mixins";
@import "./variables";
@import "./some";

html {
  margin: 0;
}

body {
  font-family: "Average Sans", sans-serif;
  line-height: 1.2;
  margin: 0;
}
.content-container {
  background: rgba(255, 255, 255, 0.2);
}

.header-wrapper {
  padding: 1em 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 95%;
}
.main-menu {
  display: flex;
  list-style: none;
}
.main-menu-item a {
  color: $primary;
  margin: 0.5em;
  padding: 0.5em;
  &:hover {
    color: $secondary;
  }
}

a.menu-active {
  color: $secondary;
}

.home-main {
  @include fontSize(22px);
  align-self: center;
  color: $primary;
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}

.dark-switcher {
  @include fontSize(13px);
  background: transparent;
  border: none;
  color: $neutral;
  cursor: pointer;
}

.layout-page {
  @include fontSize(16px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
  margin: 4em auto 0 auto;
  max-width: 1200px;
  padding: 3em;
  width: calc(95% - 6em);
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}

h1 {
  @include fontSize(32px);
  margin-top: 0;
}

// Slick carousel
.my-dots {
  display: flex !important;
  justify-content: center;
  list-style: none;
  padding: 0;
  button {
    background: $secondary;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    height: 2em;
    margin: 0 0.5em;
    text-indent: -9999px;
    width: 2em;
    &:hover {
      background: $primary;
    }
  }
  .slick-active {
    button {
      background: $primary;
    }
  }
}

.footer-links ul {
  display: flex;
  list-style: none;
}

// Dark theme overrides
.dark {
  .content-container {
    background: rgba(0, 0, 0, 0.5);
  }

  a {
    color: $dark_primary;
    &:hover {
      color: $dark_secondary;
    }
  }

  .home-main {
    color: $dark_primary;
    &:hover {
      color: $dark_secondary;
    }
  }
  .main-menu-item a {
    color: $dark_primary;
    &:hover {
      color: $dark_secondary;
    }
  }
  a.menu-active {
    color: $dark_secondary;
  }
  .layout-page {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    color: white;
  }

  .my-dots {
    button {
      background: $dark_secondary;
      &:hover {
        background: $dark_primary;
      }
    }
    .slick-active {
      button {
        background: $dark_primary;
      }
    }
  }
}
