@import "../styles/variables";

.project-container {
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-between;
}
.project {
  margin: 1em 0;
  width: 100%;
  @media only screen and (min-width: 600px) and (max-width: 899px) {
    width: calc(50% - 1.25em);
    &:nth-child(2n) {
      margin: 1em 0 0 2.5em;
    }
  }
  @media only screen and (min-width: 900px) {
    width: calc(33% - 1.6em);
    &:nth-child(3n + 2) {
      margin: 1em 2.4em;
    }
  }
}

.project-techs {
  margin-bottom: 2em;
}

.project-link a {
  background: $primary;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: $secondary;
    transition: background-color 0.3s ease;
  }
}

.repository-link {
  margin-top: 0.5em;
}
