@import "../styles/variables";

.project-container {
  display: flex;
  flex-flow: row wrap;
}

.project {
  border-bottom: 2px dotted #757575;
  padding-bottom: 3em;
  padding-top: 1em;
  position: relative;
  width: 100%;
}
.project:first-of-type {
  padding-top: 0;
}
.project:last-of-type {
  border-bottom: none;
}

.project-techs {
  margin-bottom: 2em;
}

.project-link a {
  background: $primary;
  border-radius: 2em;
  color: white;
  display: inline-block;
  font-weight: normal;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $secondary;
    color: white;
    transition: background-color 0.3s ease;
  }
  &:focus {
    background-color: $secondary;
    border-bottom: none;
    color: white;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
  }
}

.repository-link {
  margin-top: 0.5em;
}
